<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <div class="container">
            <p>Hello <strong>
                    <%= name %>
                </strong></p>
            <p>Please click on below link to verify your email.</p>
            <a href="<%= url %>" target="_blank">Click on here to verify your email</a>
            <p>If you have any query then let us know. we are here to help you</p>
            <%- include('../partials/footer'); %>
        </div>
    </body>

</html>