<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <div class="container">
        <p>Hello <strong><%= name %></strong></p>
        <p>We are happy to on board you. We can't wait to see what clash you will perorm.</p>
        <p>If you have any query then let us know. we are here to help you</p>
        <%- include('../partials/footer'); %>
    </div>
</body>
</html>