<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify URL is not correct</title>
    <style>
        body {
            background-color: azure;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>

<body>

    <h1>Email verify url is incorrect!</h1>
    <p>Please make sure you didn't change anything in URL.</p>


</body>

</html>